h1 {
  font-family: Georgia, serif;
  text-align: center;
}

body {
  background: url("../images/background.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;

}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

.dark-button, .light-button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  margin: 0 auto;
}

.thumb-bar {
  width: 640px; }

nav {
  font-family: 'Georgia', serif;
  background-color: transparent;
}

.container {
  text-align: center;
}

.col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
